body {
	padding: 0px;
	margin: 0px;
}

.idioma {
	margin-left: 0px;
    margin-top: 50%;
    width: 100%;
    height: 220px;
}


.idioma table {
	margin-left: 0px;
	margin: 0 auto;
	width: 100%;
}

.idioma table td {
	text-align: center;
}

.idioma table td.btizq {
	text-align: right;
	padding-top: 40px;
}
.idioma table td.btder {
	text-align: left;
	padding-top: 40px;
}

.encabezado {
	display: none;
}

.menu {
	margin-left: 0px;
}

.menu table {
    height: 50px;
    padding-right: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.menu-item-1,
.menu-item-2 {
	width: 50%;
	text-transform: uppercase;
}

.menu  a,
.menu  a:visited,
.menu  a:active,
.menu  a:link,
.menu  a:hover {
	font-style: normal;
}

.menu table td {
	border: 1px solid #817069;
}


