body {
	padding: 0px;
	margin: 0px;
}

.idioma {
	margin-left: 0px;
    margin-top: 30%;
    width: 100%;
    height: auto;
}


.idioma table {
	margin-left: 0px;
	margin: 0 auto;
	width: 100%;
}

.idioma table td {
	text-align: center;
}

.idioma table td.btizq {
	text-align: right;
	padding-top: 30px;
}
.idioma table td.btder {
	text-align: left;
	padding-top: 30px;
}

.logo{
	padding-bottom: 15px;
    padding-top: 30px;
}

.logo table img {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

.encabezado,
.encabezadoHome {
	display: none;
}

.menu {
	margin-left: 0px;
}

.menu table {
    height: 50px;
    padding-right: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}

.menu-item-1,
.menu-item-2 {
	width: 50%;
	text-transform: uppercase;
}

.menu  a,
.menu  a:visited,
.menu  a:active,
.menu  a:link,
.menu  a:hover {
	font-style: normal;
	font-weight:bold;
}

.menu table td {
	border: 1px solid #817069;
}

.roxana-warat .menu {
	display: none;
}


.contenido,
.contacto {
    font-size: 12px;
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
}

.roxana-warat {
	/*background-color: #fff;*/
	background-color: #2c241e;
}

.foto-roxana {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 220px;
	overflow: hidden;
	float: none;
	clear: both;
}

.foto-roxana img {
	width: 100%;
	height: auto;
	margin-top: -65px;
}

.texto-roxana,
.texto-roxana-mail {
	clear: both;
    float: none;
    height: 170px;
    margin-top: 220px;
    overflow-y: scroll;
    padding: 5%;
    width: 90%;
	text-align: justify;
	line-height: 1.5;
}

.contacto .texto-roxana,
.contacto .texto-roxana-mail {
	padding-top: 0px;
	height: auto;
	overflow: hidden;
}

.contacto .texto-roxana-mail {
    padding-top: 50px;
}

.texto-roxana p,
.texto-roxana a,
.texto-roxana a:link,
.texto-roxana a:active,
.texto-roxana a:visited,
.texto-roxana a:hover,
.texto-roxana-mail p,
.texto-roxana-mail a,
.texto-roxana-mail a:link,
.texto-roxana-mail a:active,
.texto-roxana-mail a:visited,
.texto-roxana-mail a:hover {
	/*color: #2b241e; */
		background-color: #2c241e;
}

.encabezado-mobile {
	display: block;
	z-index: 1000;
	font-family: GothamRnd-Light, helvetica, verdana, arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5%;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 90%;
	height: 20px;
	background-color: #2c241e;
	color: #FFFFFF;
    opacity: 0.60;
    -moz-opacity: .60;
    filter: alpha(opacity=60); /* internet explorer */
	-khtml-opacity: 0.60;      /* khtml, version anterior de safari */
	-moz-opacity: 0.60;       /* firefox, mozilla, netscape */
	opacity: 0.60;           /* safari, chrome, opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*internet explorer 8*/
}

.titulo-principal {
	float: left;
}

.cerrar {
	float: right;
	position: relative;
}

.cerrar a,
.cerrar a:link,
.cerrar a:visited,
.cerrar a:active,
.cerrar a:hover {
	color: #fff;
	text-decoration: none;
	font-family:GothamRnd-Light, helvetica, verdana, arial, sans-serif;
    font-size: 18px;
    /*font-style: bold;*/
}