@charset "utf-8";
@CHARSET "ISO-8859-1";


/*font especial*/
@font-face {
    font-family: 'Myriad-Bold'; /*nombre*/
    src: url('../fonts/MyriadWebPro-Bold.eot');
    src: url('../fonts/MyriadWebPro-Bold.eot?#iefix') format('embedded-opentype'), /*para qeu funcione el ie*/
         url('../fonts/MyriadWebPro-Bold.woff') format('woff'),
         url('../fonts/MyriadWebPro-Bold.ttf') format('truetype'),
         url('../fonts/MyriadWebPro-Bold.svg#MyriadWebPro-Bold') format('svg');
	 src: url('../fonts/MyriadWebPro-Bold.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad-Italic';
    src: url('../fonts/MyriadWebPro-Italic.eot');
    src: url('../fonts/MyriadWebPro-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadWebPro-Italic.woff') format('woff'),
         url('../fonts/MyriadWebPro-Italic.ttf') format('truetype'),
         url('../fonts/MyriadWebPro-Italic.svg#GMyriadWebPro-Italic') format('svg');
	 src: url('../fonts/MyriadWebPro-Italic.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Myriad';
    src: url('../fonts/MyriadWebPro.eot');
    src: url('../fonts/MyriadWebPro.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadWebPro.woff') format('woff'),
         url('../fonts/MyriadWebPro.ttf') format('truetype'),
         url('../fonts/MyriadWebPro.svg#MyriadWebPro') format('svg');
	 src: url('../fonts/MyriadWebPro.otf') format("opentype");
    font-weight: normal;
    font-style: normal;

}


.idioma{
    background-color: #2c241e;
    height: 200px;
    margin-left: -10px;
    margin-top: 20%;
    padding-left: -50;
    width: 102%;
    color: #FFFFFF;
    opacity: 0.60;
    visibility: visible;
    z-index: 1;
 -moz-opacity: .60;
    filter:alpha(opacity=60);
   
    filter: alpha(opacity=60); /* internet explorer */
	-khtml-opacity: 0.60;      /* khtml, version anterior de safari */
	-moz-opacity: 0.60;       /* firefox, mozilla, netscape */
	opacity: 0.60;           /* safari, chrome, opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*internet explorer 8*/
}

.idioma table{
margin-left: 35%;
   opacity: 1.60;
    visibility: visible;
    z-index: 1;
 -moz-opacity: 1.00;
    filter:alpha(opacity=90);
   
    filter: alpha(opacity=90); /* internet explorer */
	-khtml-opacity: 1.00;      /* khtml, version anterior de safari */
	-moz-opacity: 1.00;       /* firefox, mozilla, netscape */
	opacity: 1.00;           /* safari, chrome, opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*internet explorer 8*/
}


.btizq{
    text-align: right;
    padding-top: 10px;
	
}

.btder{
    text-align: left;
	    padding-top: 10px;
}

.logo{
	 padding-top: 30px;
}

.idioma table a {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none;
	color: white;
	font-style:italic;
	font-weight:bold;
 }

.idioma table a:hover {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none; 		
	color: white;
	font-style:italic;
	font-weight:bold; }
	
	
.menu{
	position: fixed;
bottom: 0;
    background-color: #2c241e;
    height: 50px;
    margin-left: -10px;
    padding-left: -50;
    width: 102%;
    color: #FFFFFF;
    opacity: 0.60;/*
    position: relative;
    top: -442px;*/
    visibility: visible;/*
    width: 396px;*/
    z-index: 1;
 -moz-opacity: .60;
    filter:alpha(opacity=60);
   
    filter: alpha(opacity=60); /* internet explorer */
	-khtml-opacity: 0.60;      /* khtml, version anterior de safari */
	-moz-opacity: 0.60;       /* firefox, mozilla, netscape */
	opacity: 0.60;           /* safari, chrome, opera */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /*internet explorer 8*/
}	


.menu table{
	height:50px;
	padding-right:30px;
	position:fixed;
	right:0;
	text-align:right;
	width:10%;

}	
	
.menu a {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none;
	color: white;
	font-style:italic;
	font-weight:bold;
 }

.menu a:hover {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none; 		
	color: white;
	font-style:italic;
	font-weight:bold; }
	
	
.encabezado{
padding-top: 60px;
   
}

.encabezado img{
padding-left: 60px;
   
}		

.contenido{
 font-size: 12px;
    padding-left: 18%;
    padding-top: 3%;
    width: 80%;
   
}

.contenido td{
    line-height: 1.5;
    margin: 20px;
    padding-right: 30px;
    text-align: justify;
	
}


.contenido a {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none;
	color: white;
	font-style:italic;

 }

.contenido a:hover {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none; 		
	color: white;
	font-style:italic;
}

.contacto{
 font-size: 12px;
    padding-left: 18%;
    padding-top: 3%;
    width: 80%;
   
}

.contacto td{
    line-height: 1.5;
    margin: 20px;
    padding-right: 30px;
    text-align: justify;
		font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none; 		
	color: white;
	
}

.contacto img{
    padding-top: 27px;
}


.contacto a {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none;
	color: white;


 }

.contacto a:hover {
	font-family:helvetica, verdana, arial, sans-serif;
    font-size: 13px;
    padding: 12px;
    text-decoration: none; 		
	color: white;

}


@-moz-document url-prefix() {
  .scroll {
    height: 424px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
	width:792px;
    padding-top: 50px;
  }
}



/*--------------------------------formulario------------------------*/
label {
    display:block;
    margin-top:5px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:510px;
    color: #666666;
    font-family:Arial;
}
form {
    margin: -11% auto 0 15px;
    width: 360px;
}
 
input, textarea {
    background: none repeat scroll 0 0 #ececec;
    border: 0px solid #F6F6F6;
    color: #666666;
    font-size: 10px;
    margin-top: 5px;
    padding: 5px;
    width: 350px;
	   font-family: Myriad,helvetica,verdana,arial,sans-serif;
}
 
textarea {
    height:50px;
}
 


.menu-item-1 {
	width: 14%;
}

.menu-item-2 {
	width: 86%;
}

.roxana-warat {
	background-color: #2c241e;
}

.contenedor-foto-texto {
	width: 100%;
}

.texto-roxana {
	padding-right: 3%;
    width: 52%;
	float: left;
}

.texto-roxana p {
	color: #FFF; 
	font-family: Verdana, Geneva, sans-serif;
}

.foto-roxana {
	width: 45%;
	float: left;
}

.encabezado-mobile {
	display: none;
}